/*fonts starts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*fonts ends*/
body {
  font-family: "Poppins", sans-serif;
}
/* header starts*/
header {
  background: #264653;
}
.header-description-color h1 {
  color: white;
  font: 48px;
  font-weight: 600;
  line-height: 1.7em;
}
.header-bike-img img{
  
  width:450px;
  height:400px;
}
.header-description-color span,
.header-description-color p {
  color: #e0e0e0;
  font-weight: 300;
}
.btn-purchase {
  background-color: #e76f51;
  color: white;
}
/* header ends*/
/* features starts */
.feature-top h1 {
  font-size: 36px;
  font-weight: 600;
}
.feature-top span {
  color: #e76f51;
  font-weight: 600;
}
.grayscale img{
  filter: grayscale(100%);
}
/* features ends */
/* clints starts*/
.client-area h1 {
  font-weight: 700;
  font-size: 48px;
}
.client-area h1 span {
  color: #e76f51;
}
.client-card-img img {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  margin: auto;
}
.card-body span {
  color: #23a6f0;
  line-height: 2.5em;
}
.card-body .recognize {
  font-weight: 600;
}
.card-text {
  color: #6c6c6c;
}
.review i {
  color: #e77c40;
}
/* client ends*/
/* faq starts */
.faq-img img{
  width: 431px;
  height: 423px;
}
.faq-area h1{
  font-size: 48px;
  font-weight: 600;
  text-transform: capitalize;
}
.faq-area h1 span{
  color:#E76F51;
}
/* faq ends */
/* Upcoming  style*/
.upcoming h1{
  font-size: 48px;
  font-weight: 600;
  text-transform: capitalize;
}
.upcoming h1 span{
  color:#E76F51;
}
.card-upcoming-img img{
  width:200px;
  height: 200px;
  margin: auto;
}
.card-body h3{
  color: #e76f51;
  font-weight: 600;
}
/* Upcoming  style*/
.showroom-card-body-img img{
  width: 300px;
  height: 223px;
}
/* media query starts*/
@media only screen and (max-width: 668px){
  .container{
    width:100%;
    height: 100%;
  }
  .header-bike-img img{
  
    width:300px;
    height:250px;
  }
  .faq-img img{
    width:300px;
    height:250px;
  }
  .showroom-card-body-img img{
    width:200px;
    height:150px;
  }
}
/* media query ends*/